# Text komentáře v řádku
# Toto je konfigurační soubor, který umožňuje lokálně nastavovat vlastnosti
# serveru apache pro daný projekt (jeli to na serveru povoleno)
# https://www.jakpsatweb.cz/server/htaccess.html

# Následující blok je použití modu rewrite pro přepis URL
RewriteEngine On
#RewriteCond %{HTTP_HOST} ^adresa.cz$ [NC]
#RewriteRule ^(.*)$ http://www.adresa.cz/$1 [R=301,L]
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /index.php [L]

# Následující zápis definuje úroven reportu chyb a upozornění serveru pro tento projekt
# https://perishablepress.com/advanced-php-error-handling-via-htaccess/
<IfModule mod_php5.c>
  php_value error_reporting 30711
  php_flag display_errors 1
</IfModule>






















































































































































































































































































































































